.info {
    background: radial-gradient(101.61% 122.26% at 31.25% 0%, $color-primary 0%, $color-secondary 100%);
    display: flex;
}

.info-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-blocks {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .info-wrapper {
        flex-direction: row;
        padding: 50px 80px;
        gap: 25px;
    }
    .info-blocks {
        gap: 25px;
        flex-grow: 0.5;
    }
}