.news {
    background: $color-background;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.news__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.news__h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.news__line {
    height: 3px;
    width: 100%;
    background: $color-background-accent;
}

@media (min-width: 1000px) {
    .news {
        padding: 50px 80px;
    }
    .news__h2 {
        padding-bottom: 50px;
    }
}

.news-button__wrapper {
    flex-basis: 100%;
    display: flex;
}

.news__aside {
    display: flex;
    flex-direction: column;
}

.news__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .news__aside {
        display: none;
        visibility: hidden;
    }
    .new:nth-child(odd) {
        display: none;
        visibility: hidden;
    }
}



@media (min-width: 1000px) {
    .news__wrapper {
        .news__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .news-button__wrapper {
            justify-content: center;
            .news__butoon {
                padding: 18px;
            }
        }
    }
}