.new-page__new {
    background: $color-background;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    border-radius: 0px;
}

.new-page__title {
    background-color: $color-background-accent;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
}

.new-page__img {
    background-color: $color-text;
    border-radius: 15px;
    width: calc(100vw - 70px);
    height: calc(100vw / 2.143);
    align-self: center;
}

.new-page__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new-info__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 800px) {
    .new-page__new {
        padding: 50px 80px;
    }
    .new-info__wrapper {
        display: block;
    }
    .new-page__wrapper {
        gap: 30px;
    }
    .new-page__title {
        margin-bottom: 30px; 
    }
    .img__preview {
        width: calc(100vw / 1.8);
        height: calc(100vw / 3.25);
        display: flex;
        flex-shrink: 0;
        float: left;
        margin: 0 30px 30px 0;        
    }
    .img__new {
        width: calc(100vw - 170px);
    }
}