.new-page__new {
    background: $color-background;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 0px;
}

.new-page__title {
    background-color: $color-background-accent;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new__p {
    color: $color-text-accent;
}

@media (min-width: 800px) {
    .new-page__new {
        padding: 50px 80px;
    }
}

.new-page__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}