.header {
    width: 100%;
    background: linear-gradient(0deg, rgba(40, 40, 40, 0.60) 0%, rgba(40, 40, 40, 0.60) 100%), url('/pages/main-page/img/header-background.jpg'), lightgray 50% ;
    background-size: cover;
    height: 300px;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header__buttons {
    display: flex;
    width: 100%;
    padding: 50px 0;
    justify-content: space-between;
}

.header__buttons-wrapper {
    display: flex;
    gap: 20px
}

.header__buttons-wrapper_language-switch {
    gap: 5px;
    justify-content: end;
}

@media (min-width: 1000px) {
    .header__wrapper {
        padding: 0 80px;
    }
}