.products {
    display: flex;
    flex-direction: column;
    background: $color-background;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.products__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .product:nth-child(n + 4) {
        display: none;
        visibility: hidden;
    }
}

@media screen and (min-width: 800px) {
    .products__list {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        margin: 0 80px;
    }
    .products__h2 {
        padding: 50px;
    }
}