.h1, .h2, .h3, .p, .footer__h1 {
  font-family: Manrope;
}

.h1, .h2 {
  color: #DCDCDC;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
}

.h3 {
  color: #DCDCDC;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
}

.p {
  color: #DCDCDC;
  font-size: 14px;
  font-style: normal;
  line-height: 100%;
}

.footer__h1 {
  color: #DCDCDC;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
}

.regular {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.bold-extra {
  font-weight: 800;
}

.date {
  color: #818181;
}

.header__button_active {
  color: #01662D;
}

.logo {
  position: relative;
  width: 128px;
}

.logo__h1 {
  position: absolute;
  top: 10px;
  left: 38px;
}

.header__nav {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.burger {
  width: 20px;
  height: 20px;
}

.info-block_big {
  width: 100%;
  height: 74vw;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.1%, rgba(40, 40, 40, 0.8) 100%), url(img/header-background.jpg), lightgray 50%;
  background-size: cover;
  position: relative;
}

.info-block__info {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.info-block_little {
  display: flex;
  background: #282828;
  border-radius: 15px;
  align-items: center;
  gap: 20px;
}

.new {
  border-radius: 15px;
  background: #373737;
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 300px;
  min-height: 370px;
  align-items: center;
}

.new__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.new__img {
  background: #DCDCDC;
  width: 300px;
  height: 220px;
}

.header {
  width: 100%;
  background: linear-gradient(0deg, rgba(40, 40, 40, 0.6) 0%, rgba(40, 40, 40, 0.6) 100%), url("img/header-background.jpg"), lightgray 50%;
  background-size: cover;
  height: 300px;
}

.header__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__buttons {
  position: absolute;
  display: flex;
  right: 30px;
  top: 40px;
  flex-direction: column;
  gap: 20px;
}

.header__buttons-wrapper {
  display: flex;
  gap: 20px;
}

.header__buttons-wrapper_language-switch {
  gap: 5px;
  justify-content: end;
}

.info {
  background: radial-gradient(101.61% 122.26% at 31.25% 0%, #01662D 0%, #004819 100%);
  display: flex;
}

.info-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-blocks {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.news {
  background: #282828;
}

.news__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.news__h2 {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.news__line {
  height: 3px;
  width: 100%;
  background: #373737;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*# sourceMappingURL=index.css.map */
