$color-button-hover : #FBC029;
$color-button : #F0E332;
$color-background-accent : #373737;
$color-text-accent : #818181;
$color-background : #282828;
$color-text : #DCDCDC;
$color-primary : #01662D;
$color-secondary : #004819;